:root {
  --greyscale-black: #222;
  --greyscale-dark-black: #101010;
  --greyscale-grey-1: #898785;
  --greyscale-grey-2: #ACACAC;
  --greyscale-grey-3: #C1C1C1;
  --greyscale-grey-4: #D7D7D7;
  --greyscale-grey-5: #E6E6E6;
  --greyscale-grey-6: #F6F6F6;
  --primary-orange: #DE5935;
  --Neutral-200: #CFCFCF;
  --Neutral-300: #ACACAC;
  --Neutral-400: #898989;
  --Neutral-500: #707070;
  --token-line-grey: #E5E5E5;
  --token-input-grey: #898989;
  --token-accent-red: #EF4C23;
}

.header {
  height: 148px;
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
.header__top {
  background: var(--greyscale-grey-5);
}
.header__top-wrapper {
  max-width: 1360px;
  margin: 0 auto;
  height: 23px;
  display: flex;
  align-items: center;
}
@media (max-width: 1399px) {
  .header__top-wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .header__top-wrapper {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .header__top-wrapper {
    width: auto;
  }
}
.header__top-item {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.12px;
}
.header__top-address {
  justify-content: flex-end;
  padding-right: 20px;
  border-right: 1px solid var(--greyscale-grey-4);
}
.header__top-number {
  margin: 0 20px;
  padding-right: 20px;
  border-right: 1px solid var(--greyscale-grey-4);
}
.header__top-number a {
  text-decoration: none;
  color: var(--greyscale-black);
}
.header-title {
  margin-top: 13px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 120%;
}
.header__main {
  max-width: 1360px;
  margin: 4px auto 0;
  display: flex;
  align-items: center;
}
.header__main-left-nav {
  flex: 1;
  display: flex;
  align-items: center;
  height: 32px;
}
.header__main-left-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  margin-left: 24px;
  text-decoration: none;
  color: var(--greyscale-black);
}
.header__main-left-link:hover {
  color: var(--primary-orange);
}
.header__main-left-link.is-active {
  color: var(--primary-orange);
}
.header__main-left-link:first-child {
  margin-left: 0;
}
.header__main-left-mobile {
  display: none;
}
.header__main-logo {
  flex: 1;
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
}
.header__main-logo-link {
  display: block;
  width: 206px;
  height: 100%;
  background: url(../assets/header/logo.svg) center no-repeat;
}
.header__main-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 32px;
}
.header__main-right-nav {
  border-right: 1px var(--greyscale-grey-4) solid;
}
.header__main-right-link {
  text-decoration: none;
  color: var(--greyscale-black);
  margin-right: 24px;
  color: var(--greyscale-dark-black);
}
.header__main-right-link:hover {
  color: var(--primary-orange);
}
.header__main-right-link.is-active {
  color: var(--primary-orange);
}
.header__main-right-link_sell {
  color: var(--primary-orange);
}
.header__main-user {
  margin-left: 24px;
  display: flex;
}
.header__main-user-link {
  text-decoration: none;
  color: var(--greyscale-black);
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  position: relative;
}
.header__main-user-link:hover {
  color: var(--primary-orange);
}
.header__main-user-link.is-active {
  color: var(--primary-orange);
}
.header__main-user-link:first-child {
  margin-left: 0;
}
.header__main-user-link:hover .header__main-user-search {
  background: url(../assets/icons/header/user/search-orange.svg) center no-repeat;
}
.header__main-user-link:hover .header__main-user-favorite {
  background: url(../assets/icons/header/user/heart-orange.svg) center no-repeat;
}
.header__main-user-link:hover .header__main-user-cart {
  background: url(../assets/icons/header/user/bag-orange.svg) center no-repeat;
}
.header__main-user-link:hover .header__main-user-profile {
  background: url(../assets/icons/header/user/user-orange.svg) center no-repeat;
}
.header__main-user-img {
  width: 24px;
  height: 24px;
}
.header__main-user-search {
  background: url(../assets/icons/header/user/search.svg) center no-repeat;
}
.header__main-user-favorite {
  background: url(../assets/icons/header/user/heart.svg) center no-repeat;
}
.header__main-user-cart {
  background: url(../assets/icons/header/user/bag.svg) center no-repeat;
}
.header__main-user-profile {
  background: url(../assets/icons/header/user/user.svg) center no-repeat;
}
.header__main-count {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: -4px;
  z-index: 4;
  background-color: var(--greyscale-black);
  border: 1px solid #FFF;
  font-size: 10.163px;
  color: #FFF;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.203px;
}
.header__main-count:empty {
  display: none;
}
.header__main-user-name {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 700;
}
.header__main-user-name:empty {
  display: none;
}
.header__nav {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 29px;
}
@media (max-width: 1399px) {
  .header__nav {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .header__nav {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .header__nav {
    width: auto;
  }
}
.header__nav-menu {
  display: flex;
}
.header__nav-menu-item {
  padding-left: 24px;
}
.header__nav-menu-item a {
  display: block;
  height: 41px;
  text-decoration: none;
  color: var(--greyscale-black);
}
.header__nav-menu-item a:hover {
  color: var(--primary-orange);
}
.header__nav-menu-item a.is-active {
  color: var(--primary-orange);
}
.header__nav-menu-item.is-active a {
  color: var(--primary-orange);
}
.header__nav-menu-item:first-child {
  padding-left: 0;
}

.dropdown-menu {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  display: none;
  position: absolute;
  top: 148px;
  left: 0;
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid var(--greyscale-grey-6);
  background: #FFF;
  z-index: 3;
}
.dropdown-menu:hover {
  display: block;
}
.dropdown-menu__selection {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 24px;
}
@media (max-width: 1399px) {
  .dropdown-menu__selection {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .dropdown-menu__selection {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .dropdown-menu__selection {
    width: auto;
  }
}
.dropdown-menu__selection-item {
  text-decoration: none;
  color: var(--greyscale-black);
  box-sizing: border-box;
  height: 31px;
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 50px;
  border: 1px solid var(--greyscale-grey-1);
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.14px;
  text-transform: lowercase;
  color: var(--greyscale-grey-1);
}
.dropdown-menu__selection-item:hover {
  color: var(--primary-orange);
}
.dropdown-menu__selection-item.is-active {
  color: var(--primary-orange);
}
.dropdown-menu__selection-item.is-active {
  color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
}
.dropdown-menu__selection-item:hover {
  border: 1px solid var(--primary-orange);
}
.dropdown-menu__selection-item:first-child {
  margin-left: 0;
}
.dropdown-menu__wrapper {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 1399px) {
  .dropdown-menu__wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .dropdown-menu__wrapper {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .dropdown-menu__wrapper {
    width: auto;
  }
}
.dropdown-menu__novelty {
  width: 220px;
}
.dropdown-menu__novelty-old {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.4px;
}
.dropdown-menu__novelty-old a {
  text-decoration: none;
  color: var(--greyscale-black);
}
.dropdown-menu__novelty-old a:hover {
  color: var(--primary-orange);
}
.dropdown-menu__novelty-old a.is-active {
  color: var(--primary-orange);
}
.dropdown-menu__novelty-clothes {
  text-decoration: none;
  color: var(--greyscale-black);
  display: block;
  margin-top: 30px;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.dropdown-menu__novelty-clothes:hover {
  color: var(--primary-orange);
}
.dropdown-menu__novelty-clothes.is-active {
  color: var(--primary-orange);
}
.dropdown-menu__novelty-clothes span {
  display: block;
  box-sizing: border-box;
  width: 84px;
  height: 27px;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 3px;
  border: var(--primary-orange) 1px solid;
  color: var(--primary-orange);
  font-weight: 700;
}
.dropdown-menu__nav-item {
  margin-top: 12px;
}
.dropdown-menu__nav-item:first-child {
  margin-top: 0;
}
.dropdown-menu__nav-item-brands {
  margin-top: 24px;
}
.dropdown-menu__nav-link {
  text-decoration: none;
  color: var(--greyscale-black);
  color: var(--greyscale-grey-1);
}
.dropdown-menu__nav-link:hover {
  color: var(--primary-orange);
}
.dropdown-menu__nav-link.is-active {
  color: var(--primary-orange);
}
.dropdown-menu__nav-link-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 149px;
  height: 35px;
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid var(--greyscale-black);
  color: var(--greyscale-black);
}
.dropdown-menu__nav-link-brands:hover {
  border: 1px solid var(--primary-orange);
}
.dropdown-menu__nav-link-brands:hover span {
  background: url(../assets/icons/header/arrow-right-orange.svg) center no-repeat;
}
.dropdown-menu__nav-link-brands span {
  width: 14.857px;
  height: 12.571px;
  background: url(../assets/icons/header/arrow-right.svg) center no-repeat;
}
.dropdown-menu__nav-clothes {
  width: 146px;
  margin-left: 100px;
}
.dropdown-menu__nav-clothes .dropdown-menu__nav-item {
  margin-top: 12px;
}
.dropdown-menu__nav-clothes .dropdown-menu__nav-item:first-child {
  margin-top: 0;
}
.dropdown-menu__nav-brands {
  display: flex;
}
.dropdown-menu__nav-column {
  width: 150px;
  margin-left: 80px;
}
.dropdown-menu__nav-column:first-child {
  margin-left: 0;
}
.dropdown-menu__brands {
  margin-left: 100px;
  padding-left: 40px;
  border-left: 1px solid var(--greyscale-grey-5);
}
.dropdown-menu__brands-wrapper {
  margin-top: 14px;
}
.dropdown-menu__brands-title {
  font-weight: 700;
}
.dropdown-brands__wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  .dropdown-brands__wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .dropdown-brands__wrapper {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .dropdown-brands__wrapper {
    width: auto;
  }
}
.dropdown-brands__nav {
  display: flex;
  margin-top: 14px;
}
.dropdown-brands__nav-column {
  margin-left: 80px;
}
.dropdown-brands__nav-column:first-child {
  margin-left: 0;
}
.dropdown-brands__link {
  text-decoration: none;
  color: var(--greyscale-black);
}
.dropdown-brands__link:hover {
  color: var(--primary-orange);
}
.dropdown-brands__link.is-active {
  color: var(--primary-orange);
}
.dropdown-brands__item {
  width: 150px;
  height: 19px;
  margin-top: 12px;
}
.dropdown-brands__item:first-child {
  margin-top: 0;
}
.dropdown-brands__item-link {
  width: 149px;
  height: 35px;
  margin-top: 12px;
}

@keyframes openMenuSection {}
.header-menu {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 36px);
  padding: 16px 0 83px;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 36px;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-menu__wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
}
.header-menu__search-form {
  width: 100%;
}
.header-menu__search-input {
  width: 100%;
  height: 38px;
  position: relative;
}
.header-menu__search-input input {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--greyscale-grey-5);
  background: #FFF;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 11px 12px 11px 42px;
}
.header-menu__search-input input:focus {
  outline: none;
  border: 1px solid var(--greyscale-black);
}
.header-menu__search-input::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  z-index: 4;
  position: absolute;
  left: 8px;
  top: 7px;
  background: url(../assets/icons/header/menu/search.svg) center no-repeat;
}
.header-menu__list {
  margin-top: 20px;
}
.header-menu__item {
  padding-bottom: 16px;
  margin-top: 17px;
  border-bottom: 1px solid var(--greyscale-grey-6);
}
.header-menu__item:first-child {
  margin-top: 0;
}
.header-menu__item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.header-menu__item-nav.is-active .header-menu__title::after {
  transform: rotateZ(0);
}
.header-menu__item-nav.is-active .header-menu__nav {
  display: block;
}
.header-menu__item__nav {
  display: none;
}
.header-menu__title {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.header-menu__title::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
  background: url(../assets/icons/header/menu/arrow.svg) center no-repeat;
  transition: all 0.2s ease;
}
.header-menu__title-link {
  text-decoration: none;
  color: var(--greyscale-black);
}
.header-menu__title-link_orange {
  color: var(--primary-orange);
}
.header-menu__nav {
  display: none;
}
.header-menu__nav-item {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.header-menu__nav-link {
  text-decoration: none;
  color: var(--greyscale-black);
}
.header-menu__info-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.16px;
  color: var(--greyscale-grey-1, #898785);
}
.header-menu__info-text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.header-menu__info-text-time {
  margin-top: 8px;
}
.header-menu__info-number {
  display: block;
  text-decoration: none;
  color: var(--greyscale-black);
}
.header-menu__showroom {
  display: flex;
}
.header-menu__showroom-item {
  margin-left: 16px;
}
.header-menu__showroom-item-address {
  width: 335px;
  margin-left: 0;
}
.header-menu__showroom-item-time {
  display: flex;
  justify-content: space-between;
  width: 313px;
}
.header-menu__showroom-time {
  width: 130px;
}
.header-menu__showroom-link {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: var(--greyscale-black);
  text-decoration: none;
}
.header-menu__contacts {
  display: flex;
}
.header-menu__contacts-item {
  width: 50%;
  margin-left: 16px;
}
.header-menu__contacts-item:first-child {
  margin-left: 0;
}
.header-menu__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 83px;
  width: 100%;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #FFF;
}
.header-menu__auth-button {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  height: 43px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.32px;
}
.header-menu__auth-button:hover {
  cursor: pointer;
}
.header-menu__auth-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
}
.header-menu__auth-profile {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-orange);
}
.header-menu__auth-profile::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 6px;
  background: url(../assets/icons/header/menu/auth-user.svg) center no-repeat;
}
.header-menu__auth-logout {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.32px;
  color: var(--greyscale-grey-2);
}

.footer {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  box-sizing: border-box;
  min-height: 586px;
  padding: 60px 0;
  background: var(--greyscale-grey-6, #F6F6F6);
}
.footer-wrapper {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 1399px) {
  .footer-wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .footer-wrapper {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .footer-wrapper {
    width: auto;
  }
}
.footer__newsletter-form {
  margin-top: 32px;
}
.footer__newsletter-title {
  line-height: 110%;
  letter-spacing: -0.16px;
  font-weight: 400;
}
.footer__newsletter-email {
  margin-top: 20px;
  position: relative;
}
.footer__newsletter-email input {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--greyscale-grey-5);
  background: #FFF;
  width: 100%;
  height: 64px;
  padding: 20px;
  font-size: 18px;
}
.footer__newsletter-email input:focus {
  outline: none;
  border: 1px solid var(--greyscale-black);
}
.footer__newsletter-email button {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  background: var(--greyscale-grey-6);
}
.footer__newsletter-email button:hover {
  cursor: pointer;
}
.footer__selection {
  margin-top: 16px;
  display: flex;
}
.footer__selection-item {
  margin-left: 24px;
}
.footer__selection-item:first-child {
  margin-left: 0;
}
.footer__selection-item span {
  display: flex;
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
}
.footer__selection-item span:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  background: url(../assets/icons/footer/radio-button.svg) 0 0 no-repeat;
}
.footer__selection-item span:hover {
  cursor: pointer;
}
.footer__selection-item span:hover:before {
  filter: brightness(93%);
}
.footer__selection-item input[type=radio] {
  display: none;
}
.footer__selection-item input[type=radio]:checked + span:before {
  background: url(../assets/icons/footer/radio-button-active.svg) 0 0 no-repeat;
}
.footer-title {
  width: 375px;
  font-weight: 700;
}
.footer-logo {
  width: 466px;
  height: 58px;
  position: absolute;
  bottom: 60px;
}
.footer__nav {
  margin-left: 140px;
  display: flex;
  position: relative;
}
.footer__nav-title {
  color: var(--greyscale-grey-1);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.footer__nav-title_top {
  margin-top: 16px;
}
.footer__nav-text {
  margin-top: 8px;
}
.footer__nav-text_top {
  margin-top: 16px;
}
.footer__nav-list li {
  margin-top: 16px;
}
.footer__nav-link {
  text-decoration: none;
  color: var(--greyscale-black);
}
.footer__nav-link:hover {
  color: var(--primary-orange);
}
.footer__nav-link.is-active {
  color: var(--primary-orange);
}
.footer__column {
  width: 181px;
  margin-left: 80px;
}
.footer__column:first-child {
  margin-left: 0;
}
.footer__column-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.footer__column-item_down {
  margin-top: 40px;
}
.footer-address-link {
  text-decoration: none;
  color: var(--greyscale-black);
  display: inline-block;
  margin-top: 8px;
  font-weight: 700;
}
.footer-address-link:hover {
  color: var(--primary-orange);
}
.footer-address-link.is-active {
  color: var(--primary-orange);
}
.footer__social {
  position: absolute;
  right: 0;
  bottom: -70px;
}
.footer__social-wrapper {
  height: 36px;
  display: flex;
}
.footer__social-item {
  margin-left: 16px;
}
.footer__social-item:first-child {
  margin-left: 0;
}

.cart {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #000;
  border-top: 1px solid #D9D9D9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cart__sliders {
  padding-bottom: 120px;
}
.cart__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}
.cart__title {
  max-width: 1020px;
  margin: 33px auto;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.2px;
}
.cart__title-small {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.24px;
}
.cart__back {
  display: flex;
  align-items: center;
  position: absolute;
  top: 3px;
  color: #000;
  text-decoration: none;
}
.cart__back-arrow {
  font-size: 22px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.055px;
  transform: rotateY(180deg);
}
.cart__back-text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.09px;
}
.cart__left {
  width: 675px;
}
.cart__right {
  width: 300px;
  margin-left: 45px;
}
.cart__right .p {
  height: 100%;
}
.cart__product {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--token-line-grey);
}
.cart__product:first-child {
  margin-top: 10px;
}
.cart__product-img {
  display: block;
  width: 150px;
  height: 150px;
}
.cart__product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.cart__product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 509px;
  height: 150px;
  margin-left: 16px;
}
.cart__product-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart__product-desc-right {
  text-align: right;
}
.cart__product-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.045px;
}
.cart__product-title a {
  text-decoration: none;
  color: var(--greyscale-black);
}
.cart__product-size {
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
  color: var(--Neutral-500);
}
.cart__product-price-current {
  font-size: 18px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.045px;
}
.cart__product-price-old {
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
  color: var(--Neutral-300);
  letter-spacing: -0.075px;
  text-decoration-line: line-through;
}
.cart__product-bottom {
  display: flex;
}
.cart__product-installment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 24px;
  background-color: #FFDD2D;
  border-radius: 4px;
}
.cart__product-installment-img {
  width: 24.5px;
  height: 22px;
}
.cart__product-installment-text {
  margin-left: 6px;
  font-family: Tinkoff Sans;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #333;
}
.cart__product-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 24px;
}
.cart__product-favorite {
  display: flex;
  align-items: center;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
  color: var(--Neutral-300);
}
.cart__product-favorite:hover {
  cursor: pointer;
  color: var(--primary-orange);
}
.cart__product-favorite:hover .cart__product-favorite-img {
  background: url(../assets/icons/cart/actions/wishlist-hover.svg) center center no-repeat;
}
.cart__product-favorite:hover .cart__product-favorite-img.fill {
  background: url(../assets/icons/cart/actions/wishlist-fill-hover.svg) center center no-repeat;
}
.cart__product-favorite-img {
  height: 24px;
  width: 24px;
  margin-left: 6px;
  background: url(../assets/icons/cart/actions/wishlist.svg) center center no-repeat;
}
.cart__product-favorite-img.fill {
  background: url(../assets/icons/cart/actions/wishlist-fill.svg) center center no-repeat;
}
.cart__product-remove {
  height: 24px;
  width: 24px;
  margin-left: 20px;
  background: url(../assets/icons/cart/actions/cross.svg) center center no-repeat;
}
.cart__product-remove:hover {
  background: url(../assets/icons/cart/actions/cross-hover.svg) center center no-repeat;
}
.cart__product-remove:hover {
  cursor: pointer;
}

.checkout {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  position: relative;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkout__item {
  margin-top: 80px;
}
.checkout__item:first-child {
  margin-top: 0;
}
.checkout__item:last-child {
  padding-bottom: 120px;
}
.checkout__item_error {
  padding: 50px 0 118px;
}
.checkout__left {
  width: 674px;
}
.checkout__right {
  width: 300px;
  margin-left: 45px;
  padding-bottom: 98px;
}
.checkout__error-bg {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: #F5F5F5;
}
.checkout__name {
  display: flex;
}
.checkout__name-text {
  margin: 3px 0 0 10px;
}
.checkout__number {
  box-sizing: border-box;
  width: 34px;
  height: 32px;
  padding-top: 4px;
  border-radius: 100px;
  background: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.24px;
  color: #fff;
}
.checkout__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.24px;
}
.checkout__subtitle {
  margin: 3px 0 0 1px;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
  color: var(--Neutral-500);
}
.checkout__city {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-top: 24px;
  padding: 12px 31px 11px 13px;
  position: relative;
  border-radius: 4px;
  border: 2px solid #DD5B3A;
}
.checkout__city:hover {
  cursor: pointer;
  border: 2px solid #CD4320;
}
.checkout__city::after {
  content: "";
  width: 8px;
  height: 4px;
  position: absolute;
  top: 19px;
  right: 13px;
  margin-left: 8px;
  background: url(../assets/icons/triangle.svg) center center no-repeat;
}
.checkout__city_selected {
  border: 1px solid var(--token-line-grey);
}
.checkout__city_selected:hover {
  border: 1px solid var(--Neutral-300);
}
.checkout__city-text {
  font-family: "Suisse Int'l";
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.checkout__selection {
  display: flex;
  margin-top: 16px;
  padding-bottom: 21px;
  border-bottom: solid 1px var(--token-line-grey);
}
.checkout__selection_disabled .checkout__selection-item {
  color: var(--Neutral-300);
}
.checkout__selection_disabled .checkout__selection-item:hover {
  cursor: default;
}
.checkout__selection-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 28px;
  padding: 0 9px;
  margin-left: 14px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 160%;
}
.checkout__selection-item:hover {
  cursor: pointer;
}
.checkout__selection-item:first-child {
  margin-left: 0;
}
.checkout__selection-item.is-active {
  border-radius: 100px;
  border: 2px solid #BFBFBF;
}
.checkout__selection-item.is-active::after {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  position: absolute;
  bottom: -33px;
  left: 51%;
  z-index: 1;
  border-left: 1px solid var(--token-line-grey);
  border-top: 1px solid var(--token-line-grey);
  background-color: #fff;
  transform: rotateZ(45deg) translateX(-50%) translateY(50%);
}
.checkout__form {
  margin-top: 25px;
}
.checkout__form-delivery-text {
  display: flex;
  margin-top: 22px;
}
.checkout__form-delivery-text p {
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.065px;
}
.checkout__form-delivery-text span {
  font-family: Circe;
  font-size: 32px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.32px;
}
.checkout__form-delivery-text_disabled .checkout__form-delivery-cost {
  color: var(--Neutral-300);
}
.checkout__form-delivery-text_disabled .checkout__form-delivery-order {
  color: var(--Neutral-200);
}
.checkout__form-delivery-cost {
  width: 119px;
}
.checkout__form-delivery-cost span {
  display: block;
  margin-top: 6px;
  font-size: 32px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.32px;
}
.checkout__form-delivery-order {
  width: 533px;
  margin-left: 13px;
  color: var(--Neutral-500);
}
.checkout__form-pickup {
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
  color: #fff;
}
.checkout__form-pickup-address {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 11.92%, rgba(0, 0, 0, 0) 100%), url(../assets/checkout/showroom.jpg) bottom/cover no-repeat;
}
.checkout__form-pickup-address p {
  margin-top: 5px;
}
.checkout__form-pickup-title {
  font-weight: 500;
}
.checkout__form-input {
  margin-top: 16px;
}
.checkout__form-input:first-child {
  margin-top: 0;
}
.checkout__form-input input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--token-line-grey, #E5E5E5);
  font-family: "Suisse Int'l";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  padding: 12px 13px 11px 13px;
}
.checkout__form-input input:disabled {
  background: #FFF;
}
.checkout__form-input input:disabled::-webkit-input-placeholder {
  color: var(--Light-Grey-100, #E5E5E5);
}
.checkout__form-input input:disabled::-moz-placeholder {
  color: var(--Light-Grey-100, #E5E5E5);
}
.checkout__form-input input:focus {
  outline: none;
  border: 1px solid var(--Neutral-300);
}
.checkout__form-input input:hover {
  border: 1px solid var(--Neutral-300);
}
.checkout__form-input input::-webkit-input-placeholder {
  color: var(--token-input-grey);
}
.checkout__form-input input::-moz-placeholder {
  color: var(--token-input-grey);
}
.checkout__form-textarea {
  margin-top: 16px;
}
.checkout__form-textarea textarea {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--token-line-grey, #E5E5E5);
  font-family: "Suisse Int'l";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  height: 102px;
  resize: none;
  padding: 12px 13px 11px 13px;
}
.checkout__form-textarea textarea:disabled {
  background: #FFF;
}
.checkout__form-textarea textarea:disabled::-webkit-input-placeholder {
  color: var(--Light-Grey-100, #E5E5E5);
}
.checkout__form-textarea textarea:disabled::-moz-placeholder {
  color: var(--Light-Grey-100, #E5E5E5);
}
.checkout__form-textarea textarea:focus {
  outline: none;
  border: 1px solid var(--Neutral-300);
}
.checkout__form-textarea textarea:hover {
  border: 1px solid var(--Neutral-300);
}
.checkout__form-textarea textarea::-webkit-input-placeholder {
  color: var(--token-input-grey);
}
.checkout__form-textarea textarea::-moz-placeholder {
  color: var(--token-input-grey);
}
.checkout__payment {
  display: flex;
  margin-top: 24px;
}
.checkout__payment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 156px;
  height: 225px;
  margin-left: 16px;
  padding: 14px 16px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--token-line-grey);
  transition: box-shadow ease 0.2s;
}
.checkout__payment-item:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--Neutral-300);
}
.checkout__payment-item.is-active {
  box-shadow: 0 0 0 2px #000, 0px 10px 30px -20px rgba(0, 0, 0, 0.4);
}
.checkout__payment-item:first-child {
  margin-left: 0;
}
.checkout__payment-item_disabled {
  background: #F5F5F5;
  color: var(--Neutral-300);
}
.checkout__payment-item_disabled .checkout__payment-text {
  color: var(--Neutral-200);
}
.checkout__payment-item_disabled:hover {
  cursor: default;
  box-shadow: 0 0 0 1px var(--token-line-grey);
}
.checkout__payment-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.045px;
}
.checkout__payment-subtitle {
  margin-top: 2px;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.075px;
}
.checkout__payment-img {
  width: 36px;
  height: 33px;
  margin-top: 8px;
}
.checkout__payment-text {
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 125%;
  color: var(--Neutral-500);
}
.checkout__remaining.is-active .checkout__remaining-item {
  border: 1px solid #000;
  outline: 1px solid #000;
}
.checkout__remaining.hide .checkout__remaining-content {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
}
.checkout__remaining-content {
  box-sizing: border-box;
  padding-top: 44px;
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.checkout__remaining-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.045px;
}
.checkout__remaining-subtitle {
  margin-top: 2px;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.037px;
}
.checkout__remaining-wrapper {
  display: flex;
  margin-top: 24px;
}
.checkout__remaining-item {
  box-sizing: border-box;
  width: 156px;
  height: 112px;
  padding: 14px 16px;
  margin-left: 16px;
  border-radius: 6px;
  border: 1px solid var(--token-line-grey);
  font-size: 18px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.045px;
  transition: all ease 0.2s;
}
.checkout__remaining-item:hover {
  cursor: pointer;
  border: 1px solid var(--Neutral-300);
}
.checkout__remaining-item:first-child {
  margin-left: 0;
}
.checkout__sorry {
  width: 338px;
  margin-bottom: 80px;
}
.checkout__sorry-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.2px;
}
.checkout__sorry-title br {
  display: none;
}
.checkout__sorry-subtitle {
  width: 314px;
  margin-top: 16px;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
}
.checkout__sorry-subtitle a {
  color: #000;
}

.transition {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  max-width: 544px;
  margin: 163px auto 341px;
  text-align: center;
  color: #000;
}
.transition__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.2px;
}
.transition__subtitle {
  margin-top: 16px;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
}
.transition__link {
  color: #000;
}

.summary {
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  box-sizing: border-box;
  width: 300px;
  position: sticky;
  top: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.summary__wrapper {
  padding: 24px;
  border-radius: 6px;
  border: 1px solid var(--token-line-grey);
  background: #FFF;
  box-shadow: 0px 16px 20px -12px rgba(0, 0, 0, 0.08);
}
.summary__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.24px;
}
.summary__promo {
  width: 100%;
  margin-top: 18px;
}
.summary__promo-input {
  width: 100%;
  height: 45px;
  position: relative;
}
.summary__promo-input input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 42px 0 13px;
  border-radius: 4px;
  border: 1px solid var(--token-line-grey);
  background: #FFF;
  font-family: "Suisse Int'l";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.summary__promo-input input:focus {
  outline: none;
  border: 1px solid var(--Neutral-300, #ACACAC);
}
.summary__promo-input input:focus + .summary__promo-submit {
  color: #000;
}
.summary__promo-input input:hover {
  border: 1px solid var(--Neutral-300, #ACACAC);
}
.summary__promo-input_error input {
  border: 1px solid var(--token-accent-red);
  color: var(--token-accent-red);
}
.summary__promo-submit {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-family: Circe;
  font-size: 22px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.055px;
  color: var(--token-line-grey);
}
.summary__promo-submit:hover {
  cursor: pointer;
}
.summary__promo-message {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.065px;
}
.summary__promo-message::before {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 100%;
  font-family: SF Pro Display;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: -0.035px;
}
.summary__promo-message_error {
  color: var(--token-accent-red);
}
.summary__promo-message_error::before {
  content: "!";
  padding-left: 1px;
  background-color: var(--token-accent-red);
  font-size: 9px;
  color: #fff;
}
.summary__promo-message_delete {
  color: var(--Neutral-500);
}
.summary__promo-message_delete::before {
  content: "";
  background: url(../assets/icons/summary/checkmark.svg) center center no-repeat;
}
.summary__promo-success {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 63px;
  padding: 0 13px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #9ECBB3;
}
.summary__promo-code {
  font-family: "Suisse Int'l";
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}
.summary__promo-text {
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.065px;
}
.summary__promo-close {
  cursor: pointer;
}
.summary__total {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.24px;
}
.summary__total:first-child {
  margin-top: 0;
}
.summary__del-cost {
  margin: 12px 0 28px;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
  color: var(--Neutral-300);
}
.summary__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background: var(--Neutral-1000, #000);
  transition: 0.3s all;
  font-family: Circe;
  color: #FFF;
  height: 48px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #fff;
}
.summary__button:hover {
  cursor: pointer;
  background: var(--primary-orange);
}
.summary__button:disabled {
  background: var(--Neutral-300);
}
.summary__button:disabled:hover {
  cursor: default;
}
.summary__text {
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.075px;
}
.summary__line {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.summary__line_mt12 {
  margin-top: 12px;
}
.summary__processing {
  display: flex;
  margin: 36px 0 20px;
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.065px;
  color: var(--Neutral-500);
}
.summary__processing-link {
  display: block;
  color: var(--Neutral-500);
  text-decoration: none;
}
.summary__processing input[type=checkbox] {
  display: none;
}
.summary__processing input[type=checkbox]:checked + span {
  border: none;
  background: url(../assets/icons/cart/checkbox.svg) center no-repeat;
}
.summary__processing p {
  margin-left: 9px;
}
.summary__processing span {
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--greyscale-grey-4);
  background-color: #fff;
}
.summary__processing span:hover {
  cursor: pointer;
  border: 1px solid var(--Neutral-300);
}
.summary__conditions {
  margin-top: 31px;
  padding: 0 24px;
}
.summary__conditions-item {
  margin-top: 16px;
}
.summary__conditions-item:first-child {
  margin-top: 0;
}
.summary__conditions-item.is-active .summary__conditions-text {
  margin-top: 10px;
  max-height: 300px;
  opacity: 1;
}
.summary__conditions-item.is-active .summary__conditions-title::after {
  transform: rotateX(180deg);
}
.summary__conditions-title {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.04px;
}
.summary__conditions-title::after {
  content: "";
  width: 8px;
  height: 19px;
  margin-left: 8px;
  background: url(../assets/icons/triangle.svg) center center no-repeat;
}
.summary__conditions-title:hover {
  cursor: pointer;
  color: #545454;
}
.summary__conditions-title:hover::after {
  background: url(../assets/icons/triangle-hover.svg) center center no-repeat;
}
.summary__conditions-text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.065px;
  color: var(--Neutral-500);
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}
.summary__conditions-text p {
  margin-top: 20px;
}
.summary__conditions-text p:first-child {
  margin-top: 0;
}
.summary__conditions-text a {
  color: var(--Neutral-500);
}
.summary__confidentiality {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  color: var(--Neutral-300);
  letter-spacing: -0.065px;
  text-decoration-line: underline;
}

.selection-slider {
  max-width: 1360px;
  margin: 0 auto;
  font-family: Circe;
  color: var(--greyscale-black);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  margin-top: 56px;
}
@media (max-width: 1399px) {
  .selection-slider {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .selection-slider {
    max-width: 664px;
  }
}
@media (max-width: 700px) {
  .selection-slider {
    width: auto;
  }
}
.selection-slider:first-child {
  margin-top: 60px;
}
.selection-slider__title {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.8px;
}
.selection-slider__subtitle {
  margin-top: 8px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.2px;
  color: var(--greyscale-grey-1);
  text-decoration: none;
}
.selection-slider__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  position: relative;
}
.selection-slider__item {
  width: 256px;
}
.selection-slider__item-img {
  display: block;
  width: 100%;
  height: 341px;
  position: relative;
}
.selection-slider__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.17);
}
.selection-slider__item-img-favorite {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
  background: url(../assets/icons/product/selection-slider/favorite.svg) center no-repeat;
}
.selection-slider__item-img-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  position: absolute;
  bottom: 6px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 110%;
  letter-spacing: -0.11px;
  color: #FFF;
}
.selection-slider__item-img-fitting {
  width: 69px;
  left: 6px;
  background: var(--greyscale-grey-1);
}
.selection-slider__item-img-new {
  width: 48px;
  left: 79px;
  background: var(--primary-orange);
}
.selection-slider__item-title {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.16px;
  text-decoration: none;
  color: var(--greyscale-black);
}
.selection-slider__item-title span {
  font-weight: 400;
}
.selection-slider__info {
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}
.selection-slider__price {
  display: flex;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.16px;
}
.selection-slider__price-new {
  color: var(--primary-orange);
}
.selection-slider__price-old {
  margin-left: 4px;
  text-decoration: line-through;
  color: var(--greyscale-grey-1);
}
.selection-slider__not-used {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid var(--primary-orange);
  font-size: 11px;
  line-height: 110%;
  letter-spacing: -0.11px;
  color: var(--primary-orange);
}
.selection-slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  z-index: 1;
  position: absolute;
  top: 143px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.selection-slider__arrow:hover {
  cursor: pointer;
}
.selection-slider__arrow-left {
  left: 0;
  transform: translateX(-50%) rotate(180deg);
}
.selection-slider__arrow-right {
  right: 0;
  transform: translateX(50%);
}